@import "tailwindcss";

/* donors themes */
body {
  background: white;
  color: black;
}

/* html.light {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}
html.orange {
  color-scheme: light; treat orange theme like light mode */
/* } */

html.dark body {
  background: gray;
  color: white;
}

html.orange body {
  background: orange;
  color: aliceblue;
}
